body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.row {
  height: 27px;
}

.cell {
  background-color: #eee;
  border: 1px solid #fff;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.snake {
  background-color: #4caf50;
  border: 1px solid #1b5e20;
}

.apple {
  background-color: #ff5722;
  border: 1px solid #bf360c;
}
