@import "variables";

body {
  font-family: $font-family-base;
}

.board {
  .cell {
    background-color: $color-gray;
    border-radius: 3px;
    display: inline-block;
    height: $board-tile-height;
    width: $board-tile-width;
  }

  .snake {
    background-color: $color-green;
    border-radius: 5px;
  }

  .apple {
    background-color: $color-red;
    border-radius: 100%;
  }

  .cell,
  .snake,
  .apple {
    margin: 0 1px 1px 0;
  }
}
